<div style="padding: 10px; height: 60px; background: papayaWhip;">
  <div style="float: left;">
  	<div>
	  	[ {{prichodOdchods?.prichodOdchodsText}} ] 
  	</div>
  	<div>
	  	Odprac.: {{prichodOdchods?.odpracovano | mnozstviHod}}
  	</div>
  </div>
  <div style="float: left; padding-left: 10px;">
  	<div>
	  	Odchod: <b>{{prichodOdchods?.odchodPlan | mnozstviHod}}</b>
	  	(zbývá {{remainingTimeToLeave() | mnozstviHod}})
  	</div>
  	<div>
	  	Odchod s NV: <b>{{prichodOdchods?.odchodPlanWithNV | mnozstviHod}}</b>
  		(zbývá {{remainingTimeToLeaveWithNV() | mnozstviHod}})
  	</div>
  </div>
</div>
