<p-dialog
    [(visible)]="dialogVisible"
	header="Výkazy práce na úkol {{ukol}}"
	modal="modal" 
	minWidth="1000"
	width="1000"
	height="600"
	resizable="true">
	<div style="height: 100%;">
		<div style="height: 50px;">
			Celkem vykázáno: {{sumVykazano | mnozstviHod}} z {{pracnostUkolu | mnozstviHod}}
		</div>
		<div style="height: 100%; max-height: 100%; overflow: hidden;">
			<div style="overflow-y: auto; height: 450px; max-height: 450px;">
				<app-vykaz-prace-table [vykazPraces]="vykazPraces" 
					disableVykazyNaUkol="true"
					showKodUzivatele="true"
					datumMode="show"
					hideUkol="true"
					hideKrok="true"
					hideHlaseni="true"></app-vykaz-prace-table>
			</div>
		</div>
	</div>
</p-dialog>
