<div style="float: left;">
	<button pButton (click)="readVykazPraces()" type="text" icon="fa-refresh {{(readingData? 'fa-spin': '')}}" 
				[disabled]="readingVykazPraces" style="width:40px;"></button>
</div>
<div style="float: left;">
	Od:
	<p-calendar [(ngModel)]="fromDate" (onSelect)="readVykazPraces()" dateFormat="dd.mm.yy"></p-calendar>
</div>
<div style="float: left;">
	Do:
	<p-calendar [(ngModel)]="toDate" (onSelect)="readVykazPraces()" dateFormat="dd.mm.yy"></p-calendar>
</div>

<div style="float: left;">
	<p-dataTable [value]="imisDays"  
				selectionMode="single" [(selection)]="selectedDay">
				
		<p-column field="datum" header="Datum" [style]="{'width':'70px','text-align':'center'}">
			<ng-template let-col let-vykaz="rowData" pTemplate="body">
	           	{{vykaz[col.field] | date: 'dd.MM.yyyy'}}
	       	</ng-template> 
        </p-column>
	</p-dataTable>
</div>



<div style="float: left;">
	<app-vykaz-prace-table [vykazPraces]="vykazPraces" ></app-vykaz-prace-table>
</div>


<!-- div style="float: left;">
	<p-dataTable [value]="vykazPraces" rowGroupMode="subheader" groupField="datum" 
				expandableRowGroups="true" [sortableRowGroup]="false"
				[contextMenu]="vykazMenu" 
				selectionMode="single" [(selection)]="selectedVykazPrace">
				
		<ng-template pTemplate="rowgroupheader" let-rowData>
			<span [class]="rowData['odpracovanaDobaVDen'] - celkemOdvedenePrace(rowData['datum']) === 0 ? 'text-muted' : rowData['odpracovanaDobaVDen'] - celkemOdvedenePrace(rowData['datum']) >= 0 ? 'text-danger': ''">
				{{rowData['datum'] | date: 'dd.MM.yyyy'}} - 
				{{celkemOdvedenePrace(rowData['datum']) | mnozstviHod}} / {{rowData['odpracovanaDobaVDen'] | mnozstviHod}}:
				{{rowData['odpracovanaDobaVDen'] - celkemOdvedenePrace(rowData['datum']) | mnozstviHod }}
			</span>
		</ng-template>
		
		<p-column field="mnozstviOdvedenePrace" header="hod" [style]="{'width':'70px','text-align':'center'}">
			<ng-template let-col let-vykaz="rowData" pTemplate="body">
            	{{vykaz[col.field] | mnozstviHod}}
        	</ng-template> 
        </p-column>
		<p-column field="popisPrace" header="Popis"></p-column>
		<p-column field="zakazka" header="Zakázka" [style]="{'width':'160px','text-align':'left'}">
			<ng-template let-col let-vykaz="rowData" pTemplate="body">
            	{{vykaz | zakazka}}
        	</ng-template> 
		</p-column>
		<p-column field="hlaseni" header="Hlášení" [style]="{'width':'100px','text-align':'center'}"></p-column>
		<p-column field="krok" header="Krok" [style]="{'width':'100px','text-align':'center'}"></p-column>
		<p-column field="ukol" header="Úkol" [style]="{'width':'100px','text-align':'center'}"></p-column>
	</p-dataTable>
</div-->